body{
    margin: 0;
    overflow-x: hidden;
}

.galeria{
    display: inline-block;
    width: 90%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0);
}

.alinhar{
    margin-left: 440px;
}

.usuario{
    color: #c8417e;
    font-size: 30px;
    border: 1px solid #c8417e;
    border-radius: 12px;
    background-color: #00bad0;
    width: 46%;
   overflow-wrap:break-word;
}

input{
outline: 0;

}